    {% load static %}
    <script type='text/javascript' src="{% static 'bbs/js/pdf/jspdf.js' %}"></script>
    <script type="text/javascript" src="{% static 'bbs/js/pdf/plugins/standard_fonts_metrics.js' %}"></script>
    <script type="text/javascript" src="{% static 'bbs/js/pdf/plugins/split_text_to_size.js' %}"></script>
    <script type="text/javascript" src="{% static 'bbs/js/pdf/plugins/cell.js' %}"></script>
    <script type="text/javascript" src="{% static 'bbs/js/pdf/plugins/from_html.js' %}"></script>
    <script type="text/javascript" src="{% static 'bbs/js/pdf/plugins/addimage.js' %}"></script>
    <script type="text/javascript" src="{% static 'bbs/js/pdf/libs/png_support/png.js' %}"></script>
    <script type="text/javascript" src="{% static 'bbs/js/pdf/libs/png_support/zlib.js' %}"></script>
    <script type="text/javascript" src="{% static 'bbs/js/pdf/plugins/png_support.js' %}"></script>
    <script type="text/javascript" src="{% static 'bbs/js/pdf/libs/filesaver.js' %}"></script>
    <script type="text/javascript" src="{% static 'bbs/js/pdf/plugins/addhtml.js' %}"></script>
